.orange{
    background-color: orange;
}
.apple{
    background-color: yellowgreen;
}
.peach{
    background-color:rosybrown;
}
.grapes{
    background-color:blueviolet;
}
.mango{
    background-color:orangered;
}